nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}


.check-info ul, .check-info li, .check-info {
    list-style-type:none;
    margin: auto;
    padding: 0px;
    color: #ec3f41;
}


.check-info {
    display: none;
    text-align: center;
    /*margin: auto;*/
    /*margin-top: -30px;*/
    /*position: relative;*/
    /*bottom:-75px;*/
    
    /*z-index: 999;*/
    
    /*right:55px;*/
    /*width:250px;*/
    /*padding:15px;*/
    /*padding-top: 0px;*/
    /*background:#fefefe;*/
    /*font-size:.875em;*/
    /*border-radius:5px;*/
    /*box-shadow:0 1px 3px #ccc;*/
    /*border:1px solid #ddd;*/
    /*position: fixed;*/
}
